body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #00438A;
	text-decoration: underline;
}

ul,
ol,
p {
	line-height: 26px;
}

ul {
	list-style-type: circle;
}
img {
	border: 1px solid #eee;
	padding: 5px;
	max-width: 100%;
	box-sizing: border-box;
}

/* layout */
#page {
	max-width: 780px;
	margin: auto;
}

/* header */
#header h1 {
	text-transform: uppercase;
}

/* main */
#tag-box {
	list-style: none;
	padding-left: 0;
}
#tag-box li {
	display: inline-block;
}
#tag-box li a {
	display: block;
	padding: 1px 8px;
	margin: 3px;
	background: #EEE;
	line-height: 18px;
	border-radius: 3px;
	text-decoration: none;
}
#tag-box li a span {
	vertical-align: super;
	font-size: 0.8em;
}


/* footer */
#footer {
	margin-top: 20px;
	border-top: 1px solid #eee;
	text-align: right;
	line-height: 28px;
	color: #333;
}

/* beside */
.bgsound {
	position: fixed;
	left: 5px;
	bottom: 5px;
}


