/*
Author: Hass Tian
Author URI: http://dobila.info
Description: Basicly this is my first css.
*/

/* =Reset
-------------------------------------------------------------- */
img {
	vertical-align: bottom;
}
ol {
	list-style: inside decimal;
	padding: 0;
}
ul {
    list-style: inside circle;
}

/* =Basic structure
-------------------------------------------------------------- */
body {
	background: #EEE url('../images/top-bg.png') repeat-x;
	font-size: 13px;
	margin: 0;
}

.site-header,
.site-wrapper,
.site-footer {
	max-width: 780px;
	margin: 0 auto;
}

.site-wrapper {
	background: #FFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.site-footer {
	line-height: 38px;
	text-align: center;
	color: #aaa;
}
.site-footer a {
	color: #aaa;
}


/* =Common things
-------------------------------------------------------------- */
a {
	color: #08C;
	text-decoration: none;
}
a:hover {
	color: #00438A;
	text-decoration: underline;
}
pre,
code {
	font: 12px Consolas, Monaco, Andale Mono, Courier New, monospace;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, 'Microsoft YaHei', Arial, sans-serif;
}


/* =Header
-------------------------------------------------------------- */
.site-header {
	height: 40px;
	overflow: hidden;
}
.site-header a:hover {
	text-decoration: none;
}
/* h1 */
.site-header h1 {
	margin: 0;
    float: left;
}
.site-header h1 a {
	display: block;
	padding: 0 20px;
	color: #EFEFEF;
	font-weight: bold;
	line-height: 40px;
    font-size: 22px;
	text-transform: uppercase;
}
.site-header h1 a:hover {
	background: rgba(255, 255, 255, 0.05)
}

/* nav */
.site-header nav {
	position: relative;
}
.site-header nav ul {
	margin: 0;
    padding: 0;
	list-style: none;
}
.site-header nav ul li {
    float: left;
}
.site-header nav a {
	display: block;
	color: #AAA;
	line-height: 40px;
	padding: 0 10px;
}
.site-header nav a:hover,
.site-header nav .active a {
	background: #222;
	color: #EEE;
}

/* =Main
-------------------------------------------------------------- */
.page-header {
	background: whiteSmoke;
	border-bottom: 1px solid #EEE;
    padding: 1em 0 .7em 20px;
}
.page-header h1 {
    font-size: 24px;
    margin: 0;
}

/* layout */
.page-content {
	padding: 0 20px;
}
.page-content p,
.page-content video,
.page-content audio,
.page-content figure,
.page-content blockquote,
.page-content ol,
.page-content dl,
.page-content ul {
    margin: 1em 0;
}
.page-content h2 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 3px;
}

.page-content audio {
	display: none;
}

.page-content p,
.page-content li,
.page-content figcaption {
	line-height: 22px;
	color: #333;
}

.page-content video {
	display: block;
	max-width: 100%;
 }
.page-content audio {
	display: block;
}

.page-content ul li {
	color: gray;
}
.page-content code {
	background: whiteSmoke;
	border: 1px solid #EEE;
	line-height: 18px;
	border-radius: 2px;
}

.page-content blockquote {
	border-left: 5px solid #EEE;
	padding-left: 15px;
}

.page-content figure {
	display: table;
	padding: 5px;
	border: 1px solid #dadada;
}
.page-content figure img {
	max-width: 100%;
}
.page-content figure figcaption {
	color: #555;
	background: #fafafa;
	text-align: left;
	padding: 5px;
	display: table-caption;
	caption-side: bottom;
	border: 1px solid #dadada;
	border-top: none;
}

/* footer */
.page-footer {
	padding: 10px 20px;
	color: #777;
	border-top: 1px solid #eee;
	background: #fafafa;
}

/* =Page
-------------------------------------------------------------- */
.tag-box {
	overflow: hidden;
}
.tag-box {
	padding: 0;
}
.tag-box li {
	float: left;
	list-style: none;
}
.tag-box a {
	display: block;
	padding: 0 8px;
	margin: 3px;
	line-height: 18px;
	background: #EEE;
	color: #005F6B;
	border-radius: 3px;
	text-decoration: none;
}
.tag-box a span {
	vertical-align: super;
	font-size: 0.8em;
}


/* =Besides
-------------------------------------------------------------- */
.play-pause {
	position: fixed;
	left: 5px;
	bottom: 3px;
	padding: 2px 5px 3px;
	color: white;
	font-weight: bold;
	background-color: #999;
	text-decoration: none;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	float: right;
	cursor: pointer;
	font-size: 12px;
	border: 1px solid #eee;
}


/* =Highlight.js hack
-------------------------------------------------------------- */
pre .keyword,
pre .id,
pre .phpdoc,
pre .title,
pre .built_in,
pre .aggregate,
pre .css .tag,
pre .javadoctag,
pre .phpdoc,
pre .yardoctag,
pre .smalltalk .class,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .go .typename,
pre .tex .command,
pre .markdown .strong,
pre .request,
pre .status {
	font-weight: normal;
}
