/*
Author: Hass Tian
Author URI: http://dobila.info
Description: Basicly this is my first css.
*/

/* =Reset. From: http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* =Basic structure
-------------------------------------------------------------- */
body {
	background: #EEE url('../images/top-bg.png') repeat-x;
	font-size: 14px;
	font-family: helvetica, arial, clean, sans-serif;
	color: #333;
}

.site-header,
.site-wrapper,
.site-footer {
	max-width: 860px;
	margin: auto;
}

.site-wrapper {
	background: #FFF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.site-footer {
	padding: 10px;
	text-align: center;
}


/* =Common things
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #333;
}
a {
	color: #08C;
	text-decoration: none;
}
a:hover {
	color: #00438A;
	text-decoration: underline;
}


/* =Header
-------------------------------------------------------------- */
.site-header {
	height: 40px;
}
.site-header a:hover {
	text-decoration: none;
}
.site-header h1 a {
	display: block;
	padding: 0 20px;
	color: #EFEFEF;
	font-weight: bold;
	float: left;
	font-size: 20px;
	line-height: 40px;
	text-transform: uppercase;
}
.site-header h1 a:hover {
	background: rgba(255, 255, 255, 0.05)
}
.site-header nav {
	float: left;
}
.site-header nav li {
	float: left;
}
.site-header nav a {
	display: block;
	color: #AAA;
	line-height: 40px;
	font-size: 14px;
	padding: 0 10px;
}
.site-header nav a:hover,
.site-header nav .active a {
	background: #222;
	color: #EEE;
}

/* =Main
-------------------------------------------------------------- */
.page-header {
	background: whiteSmoke;
	border-bottom: 1px solid #EEE;
	height: 58px;
	padding-left: 20px;
}

.page-header h1 {
	float: left;
	font-size: 30px;
	line-height: 62px;
	padding-bottom: 10px;
}
.page-header h2 {
	float: left;
	font-size: 18px;
	font-weight: normal;
	line-height: 66px;
	margin-left: 30px;
	color: #BFBFBF;
}

/* layout */
.page-content {
	padding: 0 20px;
}

.page-content > p,
.page-content > ul,
.page-content > pre,
.page-content > blockquote,
.page-content > hgroup,
.page-content > figure,
.page-content > video,
.page-content > audio,
.page-content > h1,
.page-content > h2,
.page-content > h3,
.page-content > h4,
.page-content > h5,
.page-content > h6 {
	margin: 20px 0;
}


.page-content h2 {
	font-size: 24px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-top: 40px;
}
.page-content h3 {
	margin-top: 30px;
	font-size: 18px;
}
.page-content h4 {
	font-size: 16px;
}
.page-content h5 {
	font-size: 14px;
}
.page-content h6 {
	font-size: 13px;
}

.page-content p,
.page-content li,
.page-content figcaption {
	line-height: 22px;
}

.page-content video {
	display: block;
	max-width: 480px;
	margin: 20px auto;
}
.page-content audio {
	display: block;
}
.page-content ul {
	list-style: disc inside;
	margin-left: 10px;
}
.page-content ul li {
	color: gray;
}
.page-content pre {
	padding: 10px;
	background: whiteSmoke;
	border: 1px solid #EEE;
	line-height: 18px;
	border-radius: 2px;
	color: #777;
}
.page-content pre code {
	font-family: Consolas, Monaco, Andale Mono, Courier New, monospace;
	font-size: 12px;
}

.page-content blockquote {
	border-left: 5px solid #EEE;
	padding-left: 15px;
}

.page-content figure {
	text-align: center;
}
.page-content figure img {
	max-width: 72%;
	padding: 5px;
	border: 1px solid #dadada;
}
.page-content figure figcaption {
	color: #555;
	margin-top: 15px;
	background: #f3f3f3;
	text-align: left;
	padding: 5px;
}

/* footer */
.page-footer {
	padding: 0 20px 20px 20px;
	color: #777;
}

/* =Page
-------------------------------------------------------------- */
.tag-box {
	overflow: hidden;
}
.tag-box li {
	float: left;
	list-style: none;
	line-height: 28px;
}
.tag-box a {
	padding: 3px 6px;
	margin: 2px;
	background: #EEE;
	color: #005F6B;
	border-radius: 3px;
	text-decoration: none;
}
.tag-box a span {
	vertical-align: super;
	font-size: 0.8em;
}