---
layout: default
---

<div id="content">
	{{ content }}
</div>

<div id="post-meta">
	<p>
		This entry was posted in
		{% for category in page.categories %}
			<a href="{{ site.path.categories}}#{{ category }}-ref">{{ category }}</a>{% unless forloop.last %},{% endunless %}
		{% endfor %}

		and tagged
		{% for tag in page.tags %}
			<a href="{{ site.path.tags }}#{{ tag }}-ref">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
		{% endfor %}

		on date <a href="{{ site.path.archive }}#{{ page.date | date: "%Y%m" }}-ref">{{ page.date | date: "%B %d, %Y" }}</a>
	</p>
</div>

