---
layout: default
---

<article id="primary">
	<header class="page-header">
		<h1>{{ page.title }}</h1>
	</header>

	<div class="page-content">
		{{ content }}
	</div>

	<footer class="page-footer">
		This entry was posted in
		{% for category in page.categories %}
			<a href="">{{ page.category }}</a>
		{% endfor %}

		and tagged
		{% for tag in page.tags %}
			<a href="{{ BASE_PATH }}{{ tag.url }}">{{ tag }}</a>
			{% if !forloop.last %}
			,
			{% endif %}
		{% endfor %}

		on date <a href="">{{ page.date | date: "%B %d, %Y" }}</a>
	</footer>
</article>

